@model STV.Models.Questao

<div>
    @Html.HiddenFor(x => x.Idquestao)
    @Model.Descricao
    @foreach (var a in Model.Alternativas)
    {
        <p>
            @Html.RadioButtonFor(b => b.IdAlternativaSelecionada, a.Idalternativa)  @a.Descricao
        </p>
    }
</div>

