@model STV.Models.Material

    @if (Model.Tipo == STV.Models.TipoMaterial.Video)
    {
        <video id="videoPlay" width="420" height="280" controls autoplay style="width: 100%; height: 100%;">
            <source src="/api/Media/Play/@Model.Idmaterial" />
        </video>
    }
    else if (Model.Tipo == STV.Models.TipoMaterial.Imagem)
    {
        var base64 = Convert.ToBase64String(Model.Arquivo.Blob);
        var imgSrc = string.Format("data:" + Model.Arquivo.ContentType + ";base64,{0}", base64);
        <img src="@imgSrc" style="width: 100%; height: 100%;" />
    }
    else if (Model.Tipo == STV.Models.TipoMaterial.Link)
    {
        <a href="@Model.URL">@Model.URL</a>
    }
    else if (Model.Tipo == STV.Models.TipoMaterial.Embedded)
    {
        <iframe width="420" height="280" src="@Model.URL allowFullScreen" style="width: 100%; height: 100%;"></iframe>
    }
    else
    {
        <div class="danger">Tipo de arquivo não implementado</div>
    }