@model STV.Models.Material

@Scripts.Render("~/bundles/fileinput")

<h4>Upload de Arquivo</h4>

<hr />

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            <input id="Arquivo" name="upload" class="file" type="file" multiple data-min-file-count="1" data-show-preview="false" />
            @Html.ValidationMessageFor(model => model.Arquivo.Nome,"", new { @class = "text-danger" })

        </div>
    </div>
</div>