
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MvcRazorToPdf</title>

    @Styles.Render("~/Content/css")

    @RenderSection("MeusEstilos", required: false)

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @RenderBody()
</body>
</html>
