
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MvcRazorToPdf</title>

    @Styles.Render("~/Content/css")

    @RenderSection("MeusEstilos", required: false)

    @Scripts.Render("~/bundles/modernizr")

    <style>
        tbody tr:nth-child(odd) {
            background-color:  #f5f5f0;
        }
        th, td {
            border-bottom: 1px solid #ddd;
            padding: 7px;
        }

    </style>

</head>
<body>
    @RenderBody()
</body>
</html>
