@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="container" style="margin-top:1em;">
    <div class="col-md-1" style="margin-top:1em;">
        <img src="~/Images/bad-smile.png" width="80" height="80" />
    </div>
    <div class="col-md-11 text-danger">
        <h3>Ops! Algo não correu bem.</h3>

        <p>Ocorreu um erro durante o processamento da sua requisição, por favor tente novamente. <br />
        Caso o problema persista contate o administrador do sistema.</p>
    </div>
    <div style="color: white;">
        <p>
            <small>Mensagem: @Model.Exception.Message</small>
        </p>
    </div>
</div>

